@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-dark: #1e1e1e;
  --gray-80: #393939;
  --gray-90: #262626;
  --gray-100: #161616;
  --green-80: #044317;
  --purple-60: #8a3ffc;
}

html,
body {
  background-color: var(--brand-dark);
  font-size: 16px;
  line-height: 1.5;
}

/* cmdk custom styles */
[cmdk-group-heading] {
  margin-left: 6px;
  padding: 6px;
  font-size: 12px;
  color: white;
  opacity: 0.5;
}

[cmdk-list] {
  scroll-padding-block-start: 6px;
  scroll-padding-block-end: 6px;
}